<% page = "blog" %>
<% include ../partials/header %>
<%
var h2tag = 'Make New Blog Post';
var formAction = '/blogs';

if (typeof blog !== 'undefined')
{
  h2tag = "Edit Post: " + blog.title;
  formAction = '/blogs/' + blog.shortId + '?_method=PUT'
}
%>

<div class="ui main text container">
  
  <h1 class="ui header">Jimmy's Blog</h1>
  <div class="ui segment">
    
    <form action="<%= formAction %>" method="post" class="ui form" id="newBlogForm">
      <h3 class="ui header"><%= h2tag %></h3>

      <div class="field">
        <label>Blog Title</label>
        <input type="text" name="title" placeholder="Blog Title" value="<%= (typeof blog !== "undefined" ? blog.title : '' %>" required autofocus autocomplete="off">
      </div>

      <div class="field">
        <label>Blog Content</label>
        <textarea name="content" id="editContent" required><%= (typeof blog !== "undefined" ? blog.content : '' %></textarea>
      </div>

      <button class="ui primary button" type="submit">Submit</button>
    </form>
  </div><!-- ui segment -->
</div><!-- ui main text container -->

<% include ../partials/js/default %>
<% include ../partials/js/richTextarea %>
<% include ../partials/footer %>