$font-stack: 'Architects Daughter', cursive;

body
{
  background: #DADADA;
}

.ui.main.container
{
  padding-top: 1rem;
  font-family: $font-stack
}

.ui.menu
{
  height: 3.5rem;
  font-family: $font-stack
}

.ui.main.menu .header.item
{
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

.ui.container .ui.grid, .pusher
{
  .button, .ui.header, *
  {
    font-family: $font-stack
  }
}


body .pusher
{
  padding-top: 70px;
}