<% include ./partials/header %>
  
  <body>
    
    <% include ./partials/menu %>
    
  <div class="pusher">
    
    <div class="ui main text container">
      <h1 class="ui header">View All Images</h1>

      <div class="ui one column grid" ng-repeat="image in images">
        <% images.forEach(function(image, index, array) { %>
        <div class="ui horizontal divider">
          <%= image.filename %>
        </div>
        <div class="row">
          <div class="column">
            <img class="ui bordered image" src='/uploads/<%= image.filename %>' />
            
            <div class="ui action fluid input">
              <input type="text" value="/uploads/<%= image.filename %>" onclick="this.focus();this.select()" />
              <button class="ui blue right labeled icon copy button" onclick="copy(this)">
                <i class="copy icon"></i>
                Copy
              </button>
            </div>
            
            <div class="ui action fluid input">
              <form
                style="display: inline"
                class="ui form"
                action="/images/<%= image.shortId %>?_method=DELETE"
                method="POST"
                onsubmit="return confirm('Do you really want to delete this image?')"
              >
                <button class="ui negative button">Delete Image</button>
              </form>
            </div>
            
          </div><!-- column -->
        </div><!-- row -->
        <% }); %>
      </div><!-- ui one column grid -->
    </div>
    
    <% include ../partials/js/default %>
    
<% include ./partials/footer %>