# Dependency directories
#public/uploads/*
#!public/uploads/.gitkeep

resources/js/google-map-api-key.json

# ignore node_modules, so a fresh copy can be installed by whoever clones the repo
node_modules
dist