body {
  background: #DADADA; }

.ui.main.container {
  padding-top: 1rem;
  font-family: "Architects Daughter", cursive; }

.ui.menu {
  height: 3.5rem;
  font-family: "Architects Daughter", cursive; }

.ui.main.menu .header.item {
  font-size: 1.2em;
  letter-spacing: 0.1em; }

.ui.container .ui.grid .button, .ui.container .ui.grid .ui.header, .ui.container .ui.grid *, .pusher .button, .pusher .ui.header, .pusher * {
  font-family: "Architects Daughter", cursive; }

body .pusher {
  padding-top: 70px; }
