  <div class="ui inverted fixed main menu">
    <div class="ui container">
      
      <div class="header item">
        <i class="code icon"></i>
        Images
      </div>
      <a href="/images" class="item">List</a>
      <a href="/images/upload" class="item">Upload</a>
      <div class="right menu">
        <a href="javascript:window.close()" class="item">Close</a>
      </div>
      
    </div>
  </div>