<% page = "projects" %>
<% include ../partials/header %>

<div class="ui main text container">
  <h1 class="ui header">Jimmy's Projects</h1>
  
    <div class="ui segment">
      <div class="ui divided items">
      
        <% if (typeof allProjects !== "undefined" && allProjects.length > 0) { allProjects.forEach(function(project, index, array) { %>
          <h2 class="ui header"><a href="/projects/<%= project.shortId%>"><%- project.title %></a></h2>
          <div class="description">
            <%- project.content %>
          </div>
          <%
          if (index < array.length - 1)
          {
          %>
          <div class="ui divider"></div>
          <%
          }
        });
        }
        else
        { console.log("no blogs"); %>
          <div class="description"><p>No Projects</p></div>
        <% } %>

      </div>
    </div>

</div>

<script>hljs.initHighlightingOnLoad();</script>

<% include ../partials/js/default %>
<% include ../partials/footer %>